<FlexboxLayout flexDirection="column" backgroundColor="white" marginTop=24>
    <GridLayout class="header-container" columns="*,auto" backgroundColor="#073590" height="70" verticalAlignment="center" height="70">
        <AddressAutocomplete></AddressAutocomplete>
        <Button class="address-search-button" text="{{'CANCEL' | translate}}" tap="onTap" row="0" col="1"></Button>
    </GridLayout>
</FlexboxLayout>
