<Page xmlns="http://schemas.nativescript.org/tns.xsd">
    <ActionBar class="action-bar">
        <Label class="action-bar-title" text="Wayout.com"></Label>
    </ActionBar>
    <GridLayout rows="*, *" columns="2*, *">
        <StackLayout row="0" colSpan="2" background="#f3d254">
            <Label left="10" text="{{'SEARCH' | translate}}" class="search-label"></Label>
            <Label left="20" text="{{'ENTER_THE_ADDRESS' | translate}}" class="enter-address-label"></Label>
            <StackLayout class="input-field-container">
                <TextField #addressPicker
                hint="{{'AROUND_YOU' | translate}}"
                [text]="addressSelected"
                textWrap = "true"
                editable= "false"
                secure="false"
                returnKeyType="done" 
                returnPress="onReturnPress"
                autocorrect="false"
                (focus)="openAddressPicker()"
                (blur)="closeAddressPicker()"></TextField>
            </StackLayout>
            <StackLayout class="input-field-container">
                <TextField #datePicker
                hint="{{'DATE_AND_HOUR' | translate}}"
                [text]='dateTimeSelected | date:"MMM dd - HH:mm"'
                textWrap = "true"
                editable= "false"
                secure="false"
                returnKeyType="done" 
                returnPress="onReturnPress"
                autocorrect="false"
                (focus)="openDateTimePicker($event)"
                (blur)="closeDateTimePicker($event)"></TextField>
            </StackLayout>
            <StackLayout class="input-field-container">
                <Button class="button-submit" id="button" text="{{'SEARCH' | translate}}" (tap)="onTap($event)"></Button>
            </StackLayout>
        </StackLayout>
    </GridLayout>
</Page>

<!-- <FlexboxLayout class="page">
    <StackLayout class="form">
        <StackLayout class="input-field">
            <TextField hint="Email" ...></TextField>
        </StackLayout>

        <StackLayout class="input-field">
            <TextField hint="Password" ...></TextField>
        </StackLayout>

        <Button [text]="'Log In'" (tap)="submit()"></Button>
        <Label *ngIf="true" text="Forgot your password?"></Label>
    </StackLayout>
</FlexboxLayout> -->

<!-- <GridLayout columns="50, auto" rows="50, auto" width="210" height="210" backgroundColor="lightgray">
    <Label text="Ciaooo" col="0"></Label>
</GridLayout> -->

<!-- <GridLayout class="page page-content">
    <Label text="{{ 'SEARCH' | translate }}" />
    <Label text="{{ 'ENTER_THE_ADDRESS' | translate }}" />

    <ListView [items]="items" class="list-group">
        <ng-template let-item="item">
            <Label [nsRouterLink]="['../item', item.id]" [text]="item.name" class="list-group-item"></Label>
        </ng-template>
    </ListView>
</GridLayout> -->